header, aside, section, nav,
h1, h2, h3, h4, h5, h6, p {
	display:		block;
	margin:			0;
	padding:		0;
}


strong { font-weight:bold; }
em { font-style: italic; }

html, body {
	background:		#2b474a;
	text-align:		center;
}

/** Header **/
header {
	height:			50px;
	margin:			0 auto;
	padding:		20px;
	position:		relative;
	text-align:		left;
	width:			910px;
}

header h1 {
	width:			200px;
	float:			left;
}

header h1 a {
	background:		transparent url(../images/logo.png) no-repeat;
	display:		block;
	height:			57px;
	width:			191px;
	text-indent:	-5000em;
}

#login {
	width:			400px;
	position:		absolute;
	right:			20px;
}

#login li {
	float:			right;
	list-style-type: none;
	padding-left:	15px;
}

#login a {
	display:		block;
	height:			48px;
	width:			50px;
	text-indent:	-5000em;
}

#twitter {
	background:		transparent url(../images/social_icons.png) no-repeat top right;
		text-indent:	-10px;
}

#twitter:hover {
	background-position: bottom right;
}

#facebook {
	background:		transparent url(../images/social_icons.png) no-repeat top left;
}

#facebook:hover {
	background-position: bottom left;
}

/** Content **/
#main {
	background:		#1f1f1f;
	clear: 			both;
	color:			#fff;
	margin:			0 auto;
	padding:		20px;
	text-align:		left;
	width:			910px;
	
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;

}