<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	
	<title>Pkg.io | {% block title %}{% end %}</title>
	
	<link rel="apple-touch-icon" href="{{ static_url('apple-touch-icon.png') }}"> 
	
	<link rel="stylesheet" href="{{ static_url('css/960.css') }}" type="text/css">
	<link rel="stylesheet" href="{{ static_url('css/main.css') }}" type="text/css">
	<link rel="stylesheet" href="{{ static_url('packages/uniform/css/uniform.default.css') }}" type="text/css">

	<!--[if lt IE 9]><script src="{{ static_url('js/html5.js') }}"></script><![endif]-->
	{% block extra_head %}{% end %}
</head>
<body>
	<div class="container_16" id="pkgrulz">
		<header class="grid_6">
			<h1><a href="http://pkg.io" title="PKG.io">PKG.io</a></h1>
			<h2>Package Builder for ExpressionEngine</h2>
		</header>
		{% include _shared/login_logout.html %}
		<div class="clear"></div>
		<div id="main">
			{% block content %}{% end %}
		</div>
		<div class="clear"></div>
		<footer>
			<p class="credits">Development by <a href="http://pascalkriete.com" title="Pascal Kriete">Pascal Kriete</a> and <a href="http://www.gregaker.net" title="Greg Aker">Greg Aker</a>.  Design by <a href="http://marcusneto.com" title="Marcus Neto">Marcus Neto</a></p>
			<p class="thanks_nevin">Application Hosting and CDN provided by EngineHosting <a href="http://www.enginehosting.com" title="EngineHosting"><img src="{{ static_url('images/enginehosting_logo.png') }}" alt="EngineHosting Logo" width="32" height="25"></a></p>
		</footer>
	</div>
<script type="text/javascript" src="{{ static_url('js/jquery.js') }}"></script>
<script type="text/javascript" src="{{ static_url('packages/uniform/js/uniform.js') }}"></script>
<script type="text/javascript">
$(document).ready(function () {
	$("input, textarea, select, button").uniform();
});
</script>
{% block footer_js %}{% end %}

{% if not request.host.startswith('127.0.0.1') %}
<script src="http://mint.pkg.io/?js" type="text/javascript"></script>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-22149340-1']);
  _gaq.push(['_setDomainName', '.pkg.io']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; 
	ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
{% end %}
</body>
</html>