{% extends base.html %}

{% block title %}Home{% end %}

{% block content %}
<h1>Accessory Generator</h1>
<form action="{{ request.path }}" method="post">
	
	<fieldset id="">
		<legend>Package Configuration</legend>
		<table>
			<tr>
				<td><label for="package_name"><span>* </span>Package Name:</label></td>
				<td>
					<input type="text" name="package_name" value="{{ set_value('package_name') }}">
					{{ form_error('package_name', '<p>{error}</p>') }}
				</td>
			</tr>
			<tr>
				<td><label for="package_short_name"><span>* </span>Package Short Name: (alpha-numeric and underscores.  No Spaces)</label></td>
				<td>
					<input type="text" name="package_short_name" value="{{ set_value('package_short_name') }}">
					{{ form_error('package_short_name', '<p>{error}</p>') }}
				</td>
			</tr>
			<tr>
				<td><label for="version"><span>* </span>Version Number</label></td>
				<td><input type="text" name="version" value="{{ set_value('version') }}"></td>
			</tr>
			<tr>
				<td><label for="author"><span>* </span>Author Name:</label></td>
				<td><input type="text" name="author" value="{{ set_value('author') }}"></td>
			</tr>
			<tr>
				<td><label for="author_url">Author URL</label></td>
				<td><input type="url" name="author_url" value="{{ set_value('author_url') }}"></td>
			</tr>
			<tr>
				<td><label for="docs_url">Documentation URL</label></td>
				<td><input type="url" name="docs_url" value="{{ set_value('docs_url') }}"></td>
			</tr>
			<tr>
				<td><label for="package_type">Package Type</label></td>
				<td>
					<label for="pkg_accessory">Accessory</label> <input type="checkbox" name="pkg_accessory" id="pkg_accessory" {{ set_value('pkg_accessory', 'check') }}>
					<label for="pkg_plugin">Plugin</label> <input type="checkbox" name="pkg_plugin" id="pkg_plugin" {{ set_value('pkg_plugin', 'check') }}>
					<label for="pkg_module">Module</label> <input type="checkbox" name="pkg_module" id="pkg_module" {{ set_value('pkg_module', 'check') }}>
					<label for="pkg_extension">Extension</label> <input type="checkbox" name="pkg_extension" id="pkg_extension" {{ set_value('pkg_extension', 'check') }}>
				</td>
			</tr>
		</table>
	</fieldset>
	
	<fieldset id="accessory" style="display:none">
		<legend>Accessory</legend>
		
		<table>
			<tr>
				<td><label for="accessory_sections_num">Number of accessory sections</label></td>
				<td><select name="accessory_sections_num" id="accessory_sections_num" size="1">
					<option value="1" {{ set_value('accessory_sections_num', 'select', '1') }}>1</option>
					<option value="2" {{ set_value('accessory_sections_num', 'select', '2') }}>2</option>
					<option value="3" {{ set_value('accessory_sections_num', 'select', '3') }}>3</option>						
				</select>
			</tr>
		</table>
		<table id="accessory_1">
			<tr>
				<td><label for="accessory_1_title">Section Title</label></td>
				<td><input type="text" name="accessory_1_title"></td>
			</tr>
			<tr>
				<td><label for="accessory_1_content">Content</label><br>
					<em>Insert any HTML or Javascript for this section</em></td>
				<td><textarea name="accessory_1_content"></textarea></td>
			</tr>
		</table>
		<table id="accessory_2" style="display:none">
			<tr>
				<td><label for="accessory_2_title">Section Title</label></td>
				<td><input type="text" name="accessory_2_title"></td>
			</tr>
			<tr>
				<td><label for="accessory_2_content">Content</label><br>
					<em>Insert any HTML or Javascript for this section</em></td>
				<td><textarea name="accessory_2_content"></textarea></td>
			</tr>
		</table>
		<table id="accessory_3" style="display:none">
			<tr>
				<td><label for="accessory_3_title">Section Title</label></td>
				<td><input type="text" name="accessory_3_title"></td>
			</tr>
			<tr>
				<td><label for="accessory_3_content">Content</label><br>
					<em>Insert any HTML or Javascript for this section</em></td>
				<td><textarea name="accessory_3_content"></textarea></td>
			</tr>
		</table>
		
	</fieldset>

	<fieldset id="plugin" style="display:none">
		<legend>Plugin</legend>

		<table>
			<tr>
				<td><label for="plugin_instructions">Plugin Documentation</label></td>
				<td><textarea name="plugin_instructions"></textarea></td>
			</tr>
		</table>
	</fieldset>

	<fieldset id="module" style="display:none">
		<legend>Module</legend>
		<table>
			<tr>
				<td><label for="module_has_control_panel">Has Control Panel Page?</label></td>
				<td><select name="module_has_control_panel">
					<option value="0" {{ set_value('module_has_control_panel', 'select', '0') }}>No</option>
					<option value="1" {{ set_value('module_has_control_panel', 'select', '1') }}>Yes</option>
				</select>
				</td>			
			</tr>
			<tr>
				<td><label for="module_description">Module Description</label></td>
				<td>
					<input type="text" name="module_description" value={{ set_value('module_description') }}>
					{{ form_error('module_description', '<p>{error}</p>') }}
				</td>
			</tr>
		</table>
	</fieldset>

	<fieldset id="extension" style="display:none">
		<legend>Extension</legend>
		<table>
			<tr>
				<td><label for="extension_has_settings">Has Control Panel Settings?</label></td>
				<td><select name="extension_has_settings">
					<option value="0" {{ set_value('extension_has_settings', 'select', '0') }}>No</option>
					<option value="1" {{ set_value('extension_has_settings', 'select', '1') }}>Yes</option>
				</select>
				</td>
			</tr>
		</table>
	</fieldset>
	

	<div><input type="submit" value="Submit"></div>
	<div style="display:none">{{ xsrf_form_html() }}</div>
</form>
{% end %}

{% block footer_js %}

<script>

(function($) {
	
	$('form input[type=checkbox]').click(function () {
		// @todo Disable inputs if module or plugin is checked.
		
		var section = this.name.substring(4);
		$('#'+section).toggle();
	})
	.filter(':checked').triggerHandler('click');
	
	$('#accessory_sections_num').change(function () {
		var num = this.value;
		
		$('#accessory_2').toggle(num > 1);
		$('#accessory_3').toggle(num > 2);
	})
	.triggerHandler('change')
	
})(jQuery);

</script>

{% end %}