/* basic reset
/* --------------------------------------------------- */

html, body, div, h1, h2, h3, img, fieldset, legend,
article, aside, figure, footer, header, nav, section, ul, li {
	margin:			0;
	padding:		0;
	border:			0;
}

a, input, textarea {
	outline:		0;
}

/* html 5 */
article, aside, figure, footer, header, nav, section {
	display:		block;
}


/* outer shell
/* --------------------------------------------------- */

html {
	background:		#2B474A url(../images/bg.png);
	color:			#ededed;
	font:			13px/25px "Helvetica Neue", Arial, Helvetica, sans-serif;
	text-align:		center; /* ie */
	text-rendering:	optimizelegibility;
}

body {	
	margin:			0 auto;
	overflow-y:		scroll; /* force scrollbar to prevent jumpiness */
	text-align:		left;
	width:			800px;
}


/* element styles - declared up here to let us override
/*					them for the header and footer.
/* --------------------------------------------------- */

h1, h2, h3, h4, legend {
	font-family:	Arial, Helvetica, sans-serif; /* I like helvetica more, but safari and ff can't agree on a baseline */
}

a, a:visited {
	text-decoration: none;
}

a:hover {
	
}


/* inner shell
/* --------------------------------------------------- */

/* header */
header {
	padding:		20px 0 10px 8px;
}

header h1 {
	width:			175px;
/*	float:			left;*/
}

header h1 a {
	background:		url(../images/logo.png) no-repeat;
	display:		block;
	height:			50px;
	text-indent:	-9999px;
	width:			175px;
}

header h2 {
	font-size:		13px;
}

/* Navigation */

nav ul{ margin: 25px 15px 0 0;padding:0; float: right;}

nav a {
	color: 				#fff;
	text-shadow: 		#191005 1px 1px 0px;
	font-size: 16px;
}

nav ul {
	height:				2.5em;
	max-width:			100%;
	z-index: 			50;
}

nav ul li {
	cursor:				pointer;
	float:				left;
	font-weight:		normal;
	list-style-type:	none;
	text-align:			center;
}

nav ul li a {
	display:			block;
	float:				left;
	text-decoration:	none;
	padding:			10px 15px;
	z-index: 			30;
	-moz-border-radius: 5px;
	border-radius: 		5px;
}
nav ul li a:hover,
nav ul li a.current {
	text-decoration: none;
	background: #21190d url(../images/container_bg.jpg) repeat-y 0 0;
	color: #fff;

	-moz-box-shadow:	0 5px 15px 0 #191005 inset,
						0 1px 1px 0 #385D62;
	-webkit-box-shadow: 0 5px 15px 0 #191005 inset,
						0 1px 1px 0 #385D62;
	box-shadow: 		0 5px 15px 0 #191005 inset,
						0 1px 1px 0 #385D62;
				
	-webkit-border-radius: 	5px;
	-moz-border-radius: 	5px;
	border-radius: 			5px;
	
}

/* footer */
footer {
	color:			#000;
	font-size:		11px;
	height:			80px;
	padding:		0 5px;
	text-shadow:	0 1px 0 rgba(51, 86, 91, 0.8);
}

footer p {
	float:			left;
	line-height:	30px;
	width:			45%;

}

footer a,
footer a:visited {
	color:			#3D666D;
	text-shadow:	none;
}

.thanks_nevin {
	float:			right;
	text-align:		right;
}

.thanks_nevin img {
	margin-bottom:	-7px;
}

.error_image {
	margin: 15px auto;
}

/* dark wrapper */
#abyss {
	background:		url(../images/inner_bg.jpg);
	padding:		10px 20px;

	box-shadow: 			0 5px 15px 0 #191005 inset,
							0 1px 1px 0 #385D62;
	-moz-box-shadow:		0 5px 15px 0 #191005 inset,
							0 1px 1px 0 #385D62;
	-webkit-box-shadow: 	0 5px 15px 0 #191005 inset,
							0 1px 1px 0 #385D62;

	border-radius: 			10px;
	-moz-border-radius: 	10px;
	-webkit-border-radius: 	10px;
}



/* Forms */
/* Most of this is done by uniform @see uniform.css
/* --------------------------------------------------- */

.button, button {
	color: #777;
}

textarea,
input[type="text"] {
	background-color:		#fff;
	background:				#fff -webkit-gradient(linear, 0 0, 0 100%, from(#ddd), to(#fff));
	background:				#fff -moz-linear-gradient(#ddd, #fff);
	
	border:					1px solid #fff;
	min-width:				185px;
	padding:				3px;
	
	border-radius: 			3px;
	-moz-border-radius: 	3px;
	-webkit-border-radius: 	3px;
}

textarea:focus,
input[type="text"]:focus {
	background:				#fff;
}

textarea {
	min-width:				400px;
}

fieldset {
	border:					none;
}

legend {
	font-size:				17px;
	font-weight:			bold;
	padding:				10px 0;
}


dl {
	clear:					both;
}

dt {
	clear:					left;
	float:					left; 
	margin:					0 10px 10px 0;
	text-align:				right;
	width:					170px;	
}

dd {
	float:					left; 
	margin:					0 0 10px 0;
	width:					300px;
}

label {
	font-weight:			bold;
}

/* Center checkbox labels - weird */
label.chk_lbl {
	vertical-align: middle;
}

/* Stretch elements to textarea width */
.wide {
	min-width:				400px;
}

/* Welcome to the Abyss */
/* Pascal will take your coat. And burn it muahahah!
/* --------------------------------------------------- */

#abyss {}
	
	
/* Posts */

article header p.posted {
	font-size:			12px;
	font-weight:		normal;
	font-style: 		italic;
}

#main article header p.posted a {
	font-size:			12px;
	font-style:			normal;
}

/*section.posts {
	padding:			0 20px 20px 20px;	
}*/

section.posts p {
	font-size:			13px;
	line-height: 		150%;
}

section article {
	float:				left;
	width:				500px;
}

section aside {
	float:				right;
	width:				220px;
}

section aside h1 {
	font-size:			18px;
	margin:				10px 0 0 0;
}

section aside ul {
	margin-top:			5px;
}

section aside ul li {
	margin-left:		14px;
}