/* basic reset
/* --------------------------------------------------- */

html, body, div, h1, h2, h3, img, fieldset, legend,
article, aside, figure, footer, header, nav, section {
	margin:			0;
	padding:		0;
	border:			0;
}

a, input, textarea {
	outline:		0;
}

/* html 5 */
article, aside, figure, footer, header, nav, section {
	display:		block;
}


/* outer shell
/* --------------------------------------------------- */

html {
	background:		#2B474A url(../images/bg.png);
	color:			#ededed;
	font:			11px/25px "Helvetica Neue", Arial, Helvetica, sans-serif;
	text-align:		center; /* ie */
	text-rendering:	optimizelegibility;
}

body {	
	margin:			0 auto;
	overflow-y:		scroll; /* force scrollbar to prevent jumpiness */
	text-align:		left;
	width:			800px;
}


/* element styles - declared up here to let us override
/*					them for the header and footer.
/* --------------------------------------------------- */

h1, h2, h3, h4, legend {
	font-family:	Arial, Helvetica, sans-serif; /* I like helvetica more, but safari and ff can't agree on a baseline */
}

a, a:visited {
	text-decoration: none;
}

a:hover {
	
}


/* inner shell
/* --------------------------------------------------- */

/* header */
header {
	padding:		20px 0 10px 8px;
}

header h1 a {
	background:		url(../images/logo.png) no-repeat;
	display:		block;
	height:			50px;
	text-indent:	-9999px;
	width:			175px;
}

header h2 {
	font-size:		13px;
}

/* footer */
footer {
	color:			#000;
	height:			80px;
	padding:		0 5px;
	text-shadow:	0 1px 0 rgba(51, 86, 91, 0.8);
}

footer p {
	width:			45%;
	float:			left;
	line-height:	30px;
}

footer a,
footer a:visited {
	color:			#3D666D;
	text-shadow:	none;
}

.thanks_nevin {
	float:			right;
	text-align:		right;
}

.thanks_nevin img {
	margin-bottom:	-7px;
}

/* dark wrapper */
#abyss {
	background:		url(../images/inner_bg.jpg);
	padding:		10px 20px;

	box-shadow: 			0 5px 15px 0 #191005 inset,
							0 1px 1px 0 #385D62;
	-moz-box-shadow:		0 5px 15px 0 #191005 inset,
							0 1px 1px 0 #385D62;
	-webkit-box-shadow: 	0 5px 15px 0 #191005 inset,
							0 1px 1px 0 #385D62;

	border-radius: 			10px;
	-moz-border-radius: 	10px;
	-webkit-border-radius: 	10px;
}



/* Forms */
/* Most of this is done by uniform @see uniform.css
/* --------------------------------------------------- */

.button, button {
	color: #777;
}

textarea,
input[type="text"] {
	background-color:		#fff;
	background:				#fff -webkit-gradient(linear, 0 0, 0 100%, from(#ddd), to(#fff));
	border:					1px solid #fff;
	min-width:				185px;
	padding:				3px;
	
	border-radius: 			3px;
	-moz-border-radius: 	3px;
	-webkit-border-radius: 	3px;
}

textarea:focus,
input[type="text"]:focus {
	background:				#fff;
}

textarea {
	min-width:				400px;
}

fieldset {
	border:					none;
}

legend {
	font-size:				17px;
	font-weight:			bold;
	padding:				10px 0;
}


dl {
	clear:					both;
}

dt {
	clear:					left;
	float:					left; 
	margin:					0 10px 10px 0;
	text-align:				right;
	width:					170px;	
}

dd {
	float:					left; 
	margin:					0 0 10px 0;
	width:					300px;
}

label {
	font-weight:			bold;
}

/* Center checkbox labels - weird */
label.chk_lbl {
	vertical-align: middle;
}


/* Welcome to the Abyss */
/* Pascal will take your coat. And burn it muahahah!
/* --------------------------------------------------- */

#abyss {}
	
