/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:''}:focus{outline:0}ins{text-decoration:none}del{text-decoration:line-through}table{border-spacing:0}

/* html5 reset */
section, header, aside, footer {
	display:			block;
	margin:				0;
	padding:			0;
}


/*  */
body {
	padding: 			0 0 40px;
	font: 				12px Helvetica, Arial, Geneva, sans-serif;
	background:			#2b474a url(../images/bg.png) repeat 0 0;
}

h1 {
	font-size:			60px;
	font-weight:		normal;
	line-height: 		100%;
	margin: 			10px 0;
}

h2 {
	font-size: 			32px;
	letter-spacing: 	-2px;	
	margin: 			10px 0;
}

h3 {
	font-size: 			22px;
	margin: 			10px 0;
}

h4 {
	font-size: 			18px;
	margin: 			10px 0;
}

p {
	font-size: 			12px;
	font-weight: 		normal;
	line-height: 		165%;
	margin-bottom: 		10px;
}

a {
	text-decoration: 	underline;
	font-weight: 		normal;
}

a:hover {
	text-decoration: 	underline;
}

ol{
	list-style-type: 	upper-alpha;	
	margin: 			20px 0;
}

ol ol {
	list-style-type: 	lower-alpha;
	margin: 			0;
}

ul{
	list-style-type: 	disc;
	margin: 			20px 0;
}

ul ul {
	list-style-type: 	circle;
	margin: 			0;
}

li {
	font-size: 			12px;
	line-height: 		145%;
	margin-left: 		30px;
}

ul.checklist {
	margin: 			20px 0px;
	padding:			0px;
}

ul.checklist li{
	background: 		url(../images/check.png) no-repeat top left;
	line-height: 		175%;
	list-style-type: 	none;
	margin:	 			0;
	padding-left: 		20px;	
}

blockquote{
	font-size: 			14px;
	font-weight: 		normal;
	font-style: 		normal;
	letter-spacing: 	normal;
	margin: 			10px 20px;
	padding: 			15px;
	text-align: 		center;
}

blockquote p {
	margin: 			0;
	padding: 			0;
}

.codeblock {
	float: 				left;
	margin-bottom: 		20px;
	padding: 			25px;
}

/* @group Navigation */

ul.nav, 
ul.nav * { margin:0;padding:0;}

ul.nav {
	height:				2.5em;
	max-width:			100%;
	z-index: 			50;
}

ul.nav li {
	cursor:				pointer;
	float:				left;
	font-weight:		normal;
	list-style-type:	none;
	text-align:			center;
}

ul.nav li ul {
	background-position:0 0;
	cursor:				default;
	height:				auto;
	left:				-9000px;
	max-width:			100%;
	position:			absolute;
	top:				50px;
	width:				100%;
}

ul.nav li ul li {
	border:				none;
	max-width:			none;
	padding:			0;
	width:				auto;
	z-index: 			30;
}
ul.nav li a {
	display:			block;
	float:				left;
	font-weight:		bold;
	text-decoration:	none;
	padding:			0 1em;
	z-index: 			30;
}

ul.nav li ul li a {
	background-position:0 50%;
	cursor:				pointer;
	font-weight:		normal;
	height:				2em;
	line-height:		2em;
	position:			relative;
	white-space:		nowrap;
	z-index: 			50;
}

ul.nav li:hover ul { left:0;z-index:50 }
ul.nav li.current a { cursor:default; font-weight:bold; }
ul.nav li.current ul { left:0;z-index:50 }
ul.nav li.current ul li a { font-weight:normal; }

ul.nav {
  	height: 			40px;
  	margin: 			0 0 10px 0;
  	z-index: 			50;
}

ul.main li {
	position:			relative;
	top:				0;
	left:				0;
	margin: 			0;
	z-index: 			50;
}

ul.main li ul {
	border-top:			0;  
	z-index: 			50;
}

ul.main li ul li {
	float:				left;  
	z-index: 			50;
}

ul.main li a {
	border:				0;
	font-size: 			18px;
	font-weight: 		normal;
	letter-spacing: 	0px;
	padding: 			20px 15px 12px;
	z-index: 			50;
}

ul.main li ul li a {
  width:				12em;
  height:				2em;
  text-align:			left;  
  z-index: 				50;
  font-size: 			12px;
  padding: 				3px 5px;
}

#pkgrulz { padding-top: 20px; }

/** Header **/
#header {
}

header h1 {
	width:				400px;
	float:				left;
	margin: 			0;
	padding: 			0;
}

header h1 a {
	background:			transparent url(../images/logo.png) no-repeat;
	display:			block;
	height:				57px;
	width:				191px;
	text-indent:		-5000em;
}

header h2 {
	width: 				300px;	
	font-size: 			12px;
	color: 				#fff;
	letter-spacing: 	1px;
	clear: 				both;
}

#login {
	float: 				right;
}

#login ul {
	float: 				right;
	margin: 			45px 0 10px 0;
}

#login li {
	float:				right;
	list-style-type:	none;
	margin-left: 		10px;
	padding-left:		0px;
}

#login a {
	display:			block;
	height:				32px;
	width:				35px;
	text-indent:		-5000em;
}

#twitter {
	background:	transparent url(../images/social_icons.png) no-repeat top right;
	text-indent:		-10px;
}

#twitter:hover {
	background-position: bottom right;
}

#facebook {
	background:	transparent url(../images/social_icons.png) no-repeat top left;
}

#facebook:hover {
	background-position: bottom left;
}

/** Content **/
#main {
	background: 		url(../images/container_bg.jpg) repeat-y 0 0;
	width:				960px;
	color: 				#fff;
	padding: 			40px 0 0 0;
	
	-moz-box-shadow:	0 5px 15px 0 #191005 inset,
						0 1px 1px 0 #385D62;
	-webkit-box-shadow: 0 5px 15px 0 #191005 inset,
						0 1px 1px 0 #385D62;
	box-shadow: 		0 5px 15px 0 #191005 inset,
						0 1px 1px 0 #385D62;
				
	-webkit-border-radius: 	10px;
	-moz-border-radius: 	10px;
	border-radius: 			10px;
	
	border-bottom:;
}

div.button {
	color:				#555;
}

div.button:hover {
	color:				#000;
}

fieldset {
	border: 			0;
	margin-bottom:		36px; 
	padding:			10px; 
	width:				600px; 
}
	
	
input, textarea, select {
	background-color:	#fff; 
	font:				12px/12px Arial, Helvetica, sans-serif; 
	padding:			0;
}

legend { 
	color:				#fff; 
	font:				17px/21px Helvetica, Arial, sans-serif; 
	font-weight:		bold;
	padding:			0 10px; 
	margin: 			0; 
}

label {
	font-size:			11px; 
	font-weight:		bold;
}

label.opt {
	font-weight:		normal;
}

dl { clear:both; }

dt {
	float:				left; 
	line-height:		25px; 
	margin:				0 10px 10px 0;
	text-align:			right;
	width:				170px;
}

dd {
	float:				left; 
	line-height:		25px; 
	margin:				0 0 10px 0;
	width:				300px; 
}

#footer { font-size:11px; }


